.list {
	list-style: none;
	padding: 0;
	background-color: $deep-background-color;
	@include border-radius(0.1em);
	overflow: hidden;
	overflow-y: auto;

	.list-item {
		cursor: default;
		background-color: $active-background-color;
		margin-bottom: 1px;
		padding: 0.3em 0 0.3em 1em;

		&.selected {
			color: $highlight-color;
			background-color: $selected-background-color;
		}

		&:first-child {
			@include border-radius(0.1em 0.1em 0 0);
		}

		&:last-child {
			@include border-radius(0 0 0.1em 0.1em);
		}
	}
}
