.sequence-list {
	height: 100%;
	width: 500px;
	min-width: 500px;
	max-width: 500px;
	background-color: $background-color;
	cursor: default;

	.sequence-list-action-bar {
		position: relative;
		z-index: 50;
		height: 30px;
		background-color: $active-background-color;
		box-shadow: 0 1px 3px $deep-background-color;
	}

	.main-list-container {
		width: 100%;
		position: relative;

		.sequence-main-list {
			position: absolute;
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;

			.sequence-label {
				display: inline-block;
				font-size: 12px;
				vertical-align: top;
				width: 200px;
				white-space: pre;
				overflow: hidden;
				text-overflow: ellipsis;
				margin-top: 1px;
			}

			.driver-sequence-list-item {
				.basic-sequence-list-item,
				.driver-sequence-title {
					background-color: $background-color;
					height: 20px;
					padding: 0 5px;
				}

				.driver-sequence-title {
					background-color: $background-color;
					font-weight: bold;

					.sequence-label {
						margin-left: 4px;
					}
				}

				.basic-sequence-list {
					list-style: none;
					margin: 0;
					padding: 0;

					.sequence-label {
						margin-left: 4px;
					}

					.basic-sequence-list-item {
						background-color: $active-background-color;
						border-bottom: solid 1px $background-color;
						display: flex;

						.keyframe-navigator {
							display: flex;
							justify-content: center;
							align-items: center;

							button.svg-button {
								position: relative;
								width: 12px;
								height: 16px;
								border: none;
								background: none;
								border-radius: 0;
								padding: 0;
								margin: 0;

								&:enabled:hover {
									background-color: $inactive-color;
									border-radius: 2px;
								}

								&:disabled > svg {
									fill: $inactive-color;
								}

								&:enabled:active > svg {
									fill: $accent-color;
								}

								svg {
									width: 12px;
									height: 16px;
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									fill: $primary-color;
								}
							}

							.keyframe-button {
								position: relative;
								width: 16px;
								height: 16px;

								&:hover {
									background-color: $inactive-color;
									border-radius: 2px;
								}

								input {
									display: none;

									&:checked + .keyframe-shape {
										fill: $accent-color;
										stroke: none;
									}
								}

								svg.keyframe-shape {
									width: 16px;
									height: 16px;
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									fill: $inactive-color;
									stroke: $primary-color;
									stroke-width: 2px;
								}
							}
						}
					}
				}
			}
		}
	}

	.react-contextmenu-wrapper {
		height: 100%;
	}
}

.expand-button {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 0 0 2px;
	transform: rotate(-90deg);

	input {
		display: none;

		&:checked + .arrow {
			transform: rotate(90deg);
		}
	}

	.arrow {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: 0.4s;
		transition-property: transform;
		fill: $primary-color;

		&:active {
			fill: $accent-color;
		}
	}
}

.color-tile {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 0 0 1px 4px;
}

.save-indicator {
	display: block;
	width: 30px;
	height: 30px;

	.circle {
		width: 8px;
		height: 8px;
		margin: 11px;
		display: inline-block;
		@include border-radius(100px);
		transition: 0.2s;
	}

	&.saved .circle {
		margin: 15px;
		width: 0;
		height: 0;
	}

	&.saving .circle {
		animation-duration: 0.5s;
		animation-name: changewidth;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-out;
		background-color: $accent-color;
	}

	&.modified .circle {
		background-color: $accent-color;
	}

	&.traveled .circle {
		background-color: $primary-color;
	}
	@keyframes changewidth {
		0% {
			margin: 15px;
			width: 0;
			height: 0;
		}

		100% {
			width: 10px;
			height: 10px;
			margin: 10px;
		}
	}
}
