.sequence-list {
	height: 100vh;
	width: 500px;
	min-width: 500px;
	max-width: 500px;
	background-color: $background-color;
	cursor: default;

	.sequence-list-action-bar {
		display: flex;
		flex-flow: row;
		align-content: flex-end;
		align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 50;
		padding: 0 4px;
		height: 30px;
		background-color: $active-background-color;
		box-shadow: 0 1px 3px $deep-background-color;

		.left-block {
			display: flex;
			align-items: center;

			.save-indicator {
				display: inline-block;
			}

			.settings-link {
				display: inline;
				color: $accent-color;
				border: 0;
				background-color: transparent;
				cursor: pointer;
				font-size: 11px;
				text-decoration: none;
				flex-grow: 0;

				&:hover {
					color: $accent-color;
					text-decoration: underline;
				}

				&:active {
					color: $primary-color;
				}
			}
		}

		.toggle-button {
			width: 24px;
			height: 24px;
			background: none;

			&:hover {
				background-color: $selected-background-color;

				&:active {
					background-color: $deep-background-color;
				}
			}

			input {
				display: none;

				&:checked + .button-icon {
					visibility: visible;
					stroke: $accent-color;
				}
			}

			svg.button-icon {
				width: 24px;
				height: 24px;
				position: absolute;
				stroke: $primary-color;
				stroke-width: 5px;
				visibility: visible;
			}
		}
	}

	.main-list-container {
		width: 100%;
		height: 100%;
		position: relative;

		.sequence-main-list {
			position: absolute;
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;

			.audio-sequence-item {
				display: flex;
				background-color: $background-color;
				height: 30px;
				padding: 0 5px;
				font-size: 12px;
				font-weight: bold;
				display: flex;
				justify-content: left;
				align-items: center;
				vertical-align: top;
				white-space: pre;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.sequence-label {
				display: inline-block;
				font-size: 12px;
				vertical-align: top;
				width: 250px;
				white-space: pre;
				overflow: hidden;
				text-overflow: ellipsis;
				margin-top: 1px;
				padding: 0 2px;
			}

			.driver-sequence-list-item {
				&.drag-over-top {
					border-top: solid 2px $accent-color;
				}

				&.drag-over-bottom {
					border-bottom: solid 2px $accent-color;
				}

				.basic-sequence-list-item,
				.driver-sequence-title {
					background-color: $background-color;
					height: 20px;
					padding: 0 5px;
				}

				.driver-sequence-title {
					background-color: $background-color;
					font-weight: bold;
					display: flex;
					justify-content: left;
					align-items: center;

					&.drag-over {
						border-bottom: solid 2px $accent-color;
					}

					.toggle-button input:not(:checked) + .button-icon {
						visibility: visible;
						fill: $inactive-color;
						stroke: $inactive-color;
					}

					.sequence-label {
						margin-left: 4px;
					}

					&.selected {
						background-color: $selected-background-color;
					}
				}

				.basic-sequence-list {
					list-style: none;
					margin: 0;
					padding: 0;

					.basic-sequence-list-item.selected .sequence-label {
						background-color: $selected-background-color;
					}

					.sequence-label {
						margin-left: 43px;
						font-weight: bold;
					}

					.basic-sequence-list-item {
						background-color: $active-background-color;
						border-bottom: solid 1px $background-color;
						display: flex;

						&.drag-over-top {
							border-top: solid 2px $accent-color;
						}

						&.drag-over-bottom {
							border-bottom: solid 2px $accent-color;
						}

						.number-input-container {
							margin: 0 20px;
						}

						.keyframe-navigator {
							display: flex;
							align-self: center;
							justify-content: center;
							align-items: center;

							button.svg-button {
								position: relative;
								width: 12px;
								height: 16px;
								border: none;
								background: none;
								border-radius: 0;
								padding: 0;
								margin: 0;

								&:enabled:hover {
									background-color: $inactive-color;
									border-radius: 2px;
								}

								&:disabled > svg {
									fill: $inactive-color;
								}

								&:enabled:active > svg {
									fill: $accent-color;
								}

								svg {
									width: 12px;
									height: 16px;
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									fill: $primary-color;
								}
							}

							.keyframe-button {
								position: relative;
								width: 16px;
								height: 16px;

								&:hover {
									background-color: $inactive-color;
									border-radius: 2px;
								}

								input {
									display: none;

									&:checked + .keyframe-shape {
										fill: $accent-color;
										stroke: none;
									}
								}

								svg.keyframe-shape {
									width: 16px;
									height: 16px;
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									fill: $inactive-color;
									stroke: $primary-color;
									stroke-width: 2px;
								}
							}
						}
					}
				}
			}
		}
	}

	.react-contextmenu-wrapper {
		height: 100%;
	}
}

.expand-button {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 0 0 28px;
	transform: rotate(-90deg);

	&.disabled {
		visibility: hidden;
	}

	input {
		display: none;

		&:checked + .arrow {
			transform: rotate(90deg);
		}
	}

	.arrow {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: 0.4s;
		transition-property: transform;
		fill: $primary-color;

		&:active {
			fill: $accent-color;
		}
	}
}

.color-tile {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 0 0 1px 4px;
}

.save-indicator {
	display: block;
	width: 30px;
	height: 30px;

	.circle {
		width: 8px;
		height: 8px;
		margin: 11px;
		display: inline-block;
		@include border-radius(100px);
		transition: 0.2s;
	}

	&.saved .circle {
		margin: 15px;
		width: 0;
		height: 0;
	}

	&.saving .circle {
		animation-duration: 0.5s;
		animation-name: changewidth;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-out;
		background-color: $accent-color;
	}

	&.modified .circle {
		background-color: $accent-color;
	}

	&.traveled .circle {
		background-color: $primary-color;
	}
	@keyframes changewidth {
		0% {
			margin: 15px;
			width: 0;
			height: 0;
		}

		100% {
			width: 10px;
			height: 10px;
			margin: 10px;
		}
	}
}

.toggle-button {
	position: relative;
	align-self: center;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-color: $background-color;
	border-radius: 1px;

	input {
		display: none;

		&:checked + .button-icon {
			visibility: visible;
			fill: $primary-color;
			stroke: $primary-color;
		}
	}

	svg.button-icon {
		width: 16px;
		height: 16px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		stroke-width: 0;
		visibility: hidden;
	}
}

.player-control {
	height: 24px;
	align-self: center;

	.player-button {
		width: 23px;
		height: 24px;
		margin: 0;
		padding: 0;
		border: none;
		background-color: $active-background-color;
		border-radius: 1px;
		padding: 0 3px;

		&:disabled {
			svg.button-icon {
				fill: $inactive-color;
			}

			&:active {
				background-color: $active-background-color;
			}
		}

		&:active {
			background-color: $background-color;
		}

		svg.button-icon {
			width: 100%;
			height: 100%;
			fill: $primary-color;
		}
	}
}
