.timeline {
	height: 100%;
	position: relative;
	background-color: $background-color;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	border-left: solid 1px $deep-background-color;

	.time-ruler {
		height: 30px;
		z-index: 100;
		background-color: $active-background-color;
		box-shadow: 0 1px 3px #161616;
		cursor: default;

		svg {
			width: 100%;
			height: 100%;

			.ruler-line {
				stroke: $primary-color;
				stroke-width: 1px;
			}

			.ruler-text {
				fill: $primary-color;
				font-size: 10px;
				font-family: Arial;
				font-weight: bold;
			}

			.ruler-out-time {
				fill: $background-color;
			}
		}
	}

	.time-cursor {
		position: absolute;
		z-index: 150;
		width: 100%;
		height: 100%;
		fill: $accent-color;
		pointer-events: none;
	}

	.time-scroll {
		position: relative;
		flex-grow: 1;
		display: flex;
		flex-flow: column;

		.children-container {
			flex-grow: 1;
			position: absolute;
		}

		.horizontal-pane {
			flex-grow: 1;
			display: flex;
			flex-flow: row;
			position: relative;
			pointer-events: none;
		}

		.scroll-bar {
			background-color: $deep-background-color;
			z-index: 75;

			.scroll-bar-nub {
				position: relative;
				background-color: $active-background-color;
				@include border-radius(7px);
			}

			&.vertical {
				position: absolute;
				right: 0;
				height: 100%;
				width: 16px;

				.scroll-bar-nub {
					width: 14px;
					height: 100%;
					min-height: 20px;
					margin: 0 1px;
				}
			}

			&.horizontal {
				position: relative;
				height: 16px;
				margin-right: 16px;

				.scroll-bar-nub {
					width: 100%;
					height: 14px;
					min-width: 20px;
					margin: 1px 0;
				}
			}

			&[disabled] .scroll-bar-nub {
				background-color: $background-color;
			}
		}

		.sequence-timeline {
			flex-grow: 1;
			position: relative;
			margin: 0;
			padding: 0;
			list-style: none;
			background-color: $background-color;

			.timeline-driver-sequence {
				background-color: $background-color;

				.sequence-box {}

				&.red .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $red;
				}

				&.yellow .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $yellow;
				}

				&.aqua .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $aqua;
				}

				&.pink .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $pink;
				}

				&.lavender .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $lavender;
				}

				&.peach .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $peach;
				}

				&.seafoam .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $seafoam;
				}

				&.blue .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $blue;
				}

				&.green .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $green;
				}

				&.purple .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $purple;
				}

				&.orange .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $orange;
				}

				&.brown .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $brown;
				}

				&.fuchsia .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $fuchsia;
				}

				&.cyan .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $cyan;
				}

				&.sandstone .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $sandstone;
				}

				&.darkgreen .timeline-driver-sequence-box svg.sequence-box-box rect {
					fill: $darkgreen;
				}

				.timeline-driver-sequence-box {
					height: 20px;

					svg.sequence-box-box {
						width: 100%;
						height: 20px;

						rect {
							filter: url(  '#noise-effect');
						}
					}
				}

				.timeline-basic-sequence {
					height: 21px;

					svg.sequence-box-box {
						width: 100%;
						height: 21px;

						rect {
							fill: $active-background-color;
						}
					}
				}

				.timeline-basic-sequence-list {
					list-style: none;
					padding: 0;
					margin: 0;
				}
			}
		}
	}

	.graph-timeline {
		flex-grow: 1;
		margin: 0;
		padding: 0;
		background-color: $background-color;
	}
}

.keyframe-diamond {
	fill: $primary-color;
	pointer-events:;

	&.selected {
		filter: url(#highlight-effect);
	}
}

.keyframe-end-diamond,
.keyframe-start-diamond {
	fill: $inactive-color;
}

.selection-overlay {
	position: absolute;
	pointer-events: none;
	z-index: 50;
	width: 100%;
	height: 100%;

	rect {
		stroke: $primary-color;
		stroke-width: 1px;
		fill: $primary-color;
		fill-opacity: 0.4;
	}
}
