@import 'GraphTimeline';
@import 'SequenceTimeline';

.timeline {
	height: 100%;
	position: relative;
	background-color: $background-color;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	border-left: solid 1px $deep-background-color;

	.time-ruler {
		height: 30px;
		z-index: 100;
		background-color: $active-background-color;
		box-shadow: 0 1px 3px #161616;
		cursor: default;

		svg {
			width: 100%;
			height: 100%;

			.ruler-line {
				stroke: $primary-color;
				stroke-width: 1px;
			}

			.ruler-text {
				fill: $primary-color;
				font-size: 10px;
				font-family: Arial;
				font-weight: bold;
			}

			.ruler-out-time {
				fill: $background-color;
			}
		}
	}

	.time-cursor {
		position: absolute;
		z-index: 150;
		width: 100%;
		height: 100%;
		fill: $accent-color;
		pointer-events: none;
	}

	.time-scroll {
		position: relative;
		flex-grow: 1;
		display: flex;
		flex-flow: column;

		.children-container {
			flex-grow: 1;
			position: absolute;
			height: 100%;
		}

		.horizontal-pane {
			flex-grow: 1;
			display: flex;
			flex-flow: row;
			position: relative;
		}

		.scroll-bar {
			background-color: $deep-background-color;
			z-index: 75;

			.scroll-bar-nub {
				position: relative;
				background-color: $active-background-color;
				@include border-radius(7px);
			}

			&.vertical {
				position: absolute;
				right: 0;
				height: 100%;
				width: 16px;

				.scroll-bar-nub {
					width: 14px;
					height: 100%;
					min-height: 20px;
					margin: 0 1px;
				}
			}

			&.horizontal {
				position: relative;
				height: 16px;
				margin-right: 16px;

				.scroll-bar-nub {
					width: 100%;
					height: 14px;
					min-width: 20px;
					margin: 1px 0;
				}
			}

			&[disabled] .scroll-bar-nub {
				background-color: $background-color;
			}
		}
	}
}
