// Colors
$primary-color: #A6A6A6;
$accent-color: #2D8CEB;
$highlight-color: white;
$inactive-color: #474747;
$deep-background-color: #161616;
$background-color: #232323;
$active-background-color: #303030;
$selected-background-color: #474747;
$red: #B53838;
$yellow: #E4D84C;
$aqua: #A9CBC7;
$pink: #E5BCC9;
$lavender: #A9A9CA;
$peach: #E7C19E;
$seafoam: #B3C7B3;
$blue: #677DE0;
$green: #4AA44C;
$purple: #8E2C9A;
$orange: #E8920D;
$brown: #7F452A;
$fuchsia: #F46DD6;
$cyan: #3DA2A5;
$sandstone: #A89677;
$darkgreen: #1E401E;

.red {
	background-color: $red;
}

.yellow {
	background-color: $yellow;
}

.aqua {
	background-color: $aqua;
}

.pink {
	background-color: $pink;
}

.lavender {
	background-color: $lavender;
}

.peach {
	background-color: $peach;
}

.seafoam {
	background-color: $seafoam;
}

.blue {
	background-color: $blue;
}

.green {
	background-color: $green;
}

.purple {
	background-color: $purple;
}

.orange {
	background-color: $orange;
}

.brown {
	background-color: $brown;
}

.fuchsia {
	background-color: $fuchsia;
}

.cyan {
	background-color: $cyan;
}

.sandstone {
	background-color: $sandstone;
}

.darkgreen {
	background-color: $darkgreen;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin center-panel {
	background-color: $background-color;
	padding: 1.7em;
	margin: 2em auto;
	max-width: 900px;
	@include border-radius(0.3em);

	h3 {
		margin-top: 0;
	}
}
