
.number-input-container {
	display: inline-block;
	position: relative;
	width: 3em;
	height: 1em;
	font-size: 0.7em;
	color: $accent-color;

	.disabled {
		display: none;
	}

	&:hover {
		color: white;
	}

	.inner-component {
		width: 100%;
		height: 100%;
		background: none;
		position: absolute;
		padding: 0.2em;
		padding-left: 0.4em;
		padding-right: 0.4em;
		@include border-radius(0.2em);
	}

	.number-input {
		@extend .inner-component;
		-moz-appearance: textfield;
		border: none;
		font-size: inherit;
		box-shadow: none;
		color: inherit;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&:focus {
			color: black;
			background-color: white;
			-moz-box-shadow: inset 0px 0px 2px 0px $accent-color;
			-webkit-box-shadow: inset 0px 0px 2px 0px $accent-color;
			-o-box-shadow: inset 0px 0px 2px 0px $accent-color;
			box-shadow: inset 0px 0px 2px 0px $accent-color;
			filter:progid:DXImageTransform.Microsoft.Shadow(color=$accent-color, Direction=NaN, Strength=2);
		}

		&.dragged {
			cursor: ew-resize;
		}
	}

	.drag-overlay {
		@extend .inner-component;

		&:hover {
			cursor: pointer;
		}

		&.edit-dragged {
			cursor: ew-resize;
		}
	}
}
