@import 'const';

.puppet-editor {
	@include center-panel

	.board-browser {
		display: inline-block;
		vertical-align: top;
		width: 15em;
		margin-right: 3em;

		.list {
			min-height: 10em;
		}
	}

	.servo-browser {
		display: inline-block;
		vertical-align: top;
		width: 15em;
		margin-right: 3em;

		.list {
			min-height: 10em;
		}
	}

	.servo-editor {
		display: inline-block;
		vertical-align: top;
		width: 15em;

		.value-panel {
			background-color: $background-color;

			.row {
				background-color: $active-background-color;
				font-size: 0.9em;
				padding: 0.3em 1em 0.3em 1em;
				margin-bottom: 1px;

				&:last-child {
					padding-bottom: 0.3em;
					margin-bottom: 0;
				}

				.number-input-container {
					margin-left: 0.7em;
					font-size: 0.75em;
					vertical-align: baseline;

					.number-input {
						vertical-align: top;
					}
				}
			}
		}
	}
}
