@import 'const';
@import 'base/NumberInput';
@import 'base/List';
@import 'base/TextCreator';
@import 'base/SplitPane';
@import 'home/Browser';
@import 'puppet/PuppetEditor';
@import 'stage/StageEditor';

body {
	font-family: Arial;
	font-weight: lighter;
	color: $primary-color;
	background-color: $deep-background-color;
	margin: 0;
}

button,
input[type=submit] {
	margin: 0 0.4em;
	padding: 0.2em 0.8em 0.3em;
	background-color: $background-color;
	color: $primary-color;
	border-style: solid;
	border-color: $primary-color;
	border-width: 0.12em;
	@include border-radius(1em);

	&:active:not(:disabled) {
		background-color: $active-background-color;
	}

	&:disabled {
		color: $inactive-color;
		border-color: $inactive-color;
	}
}

input[type=number],
input[type=text] {
	color: black;
	background-color: white;
	padding: 0.2em 0.8em 0.3em;
	border: none;
	box-shadow: none;
	@include border-radius(0.2em);

	&:focus {
		-moz-box-shadow: inset 0 0 4px 0 $accent-color;
		-webkit-box-shadow: inset 0 0 4px 0 $accent-color;
		-o-box-shadow: inset 0 0 4px 0 $accent-color;
		box-shadow: inset 0 0 4px 0 $accent-color;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=$accent-color, Direction=NaN, Strength=4);
	}
}
